{% import "../_partials/components.njk" as components %}
<section class="header">
  {%if button %}
  <div class="header__button">
    <h1 class="button__title title title--alineleft">{{ title }}</h1>
    <div class="button__button">
      {{ components.button(text=button.text, link=button.link)}}
    </div>
  </div>

  {%elseif subtitle %}
  <div class="header__description">
    <h1 class="title">{{ title }}</h1>
    <p class="text text--large">{{ subtitle }}</p>
    <div class="header__row">
      <svg
        width="25"
        height="24"
        viewBox="0 0 25 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.93934 10.9393C0.353554 11.5251 0.353554 12.4749 0.939341 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97919 12.6066 1.3934C12.0208 0.807613 11.0711 0.807613 10.4853 1.3934L0.93934 10.9393ZM25 10.5L2 10.5L2 13.5L25 13.5L25 10.5Z"
          fill="#191919"
        >
      </svg>
      <a href="{{back}}"><p class="text text--large">Go back</p></a>
    </div>
  </div>
  {% else %}
  <div class="header__title">
    <h1 class="title title--width">{{ title }}</h1>
  </div>
  {% endif %}
  <hr>
</section>
