---
title: "Interested in what we have to say?"
nav:
  title: Blog
  order: 1
tags: nav
---

{% extends "../_layouts/grid.njk" %}
{% import "../_partials/components.njk" as
components %}

{% block grid %}
  {{ components.card(
    items=collections.blog
    )}}

{% endblock grid %}
